
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <img src="../../assets/img/usa.png" alt="" class="img-bot">
              <h3>Satwic Inc</h3>
              <br>
              <p>117 E Colorado Blvd, Suite 200 Pasadena, CA,USA 91105
                <br><br>
                <strong>Phone:</strong> (818)230-2181<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <br>
              <img src="../../assets/img/india.png" class="img-bot" style="margin-bottom:10px">
              <h3>Satwic Software solutions Pvt. Ltd.</h3>
              <p>#34 Akash Avenue 1st main road, SBM colony, Anand nagar Main Road Bangalore,India 560024
                <br><br>
                <strong>Phone:</strong> (808)2355-8400<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Industries</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Business Intelligence & Data Integration</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Business Intelligence / Data Warehousing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Data Integration Implementation</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Platform Migrations Implementation</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Managed Support Services</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 ">


            </div>

          </div>
        </div>
      </div>


    </footer><!-- End Footer -->

