
.vnavbod{
  margin-left: 15px;
  
}

.listviewgrpoup{
    display: block;
    position: fixed;
    top: 20%;
    z-index: 999;
}
.vnav{
    font-size: 16px ;
    color: #e28714;
    font-weight: 700;
    border-top-style: outset;
    border-top-right-radius: 5px;
    border-width: initial;
    width: auto;
    padding: 0;
    margin-bottom: 10px;
    max-width: 80px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .vnavi{
    font-size: 10px ;
    color: #e28714;
    font-weight: 700;
    border-top-style: outset;
    border-top-right-radius: 5px;
    border-width: initial;
    width: auto;
    padding: 0;
    margin-bottom: 10px;
    max-width: 80px;
    display: block;
  
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .vnav:hover{
    color: #e28714;
    font-size: 16px;
    width: auto;
  }
  .vnavi:hover{
    font-size: 16px;
    color: #e28714;
    width: auto;
  }

 


  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0 !important;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 1.0s;
  }
  
  .overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 900;
    line-height: 1.1;
    color: #fff;
    margin-top: 20px;
    text-align: left;
    transition-timing-function: linear;
    transition-delay: 0.5s;
  
   
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #e28714;
    font-size: 32px;
  
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 60px;
    color: #030b22;
    z-index: 999;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .openTab{
    font-size: 28px;
    cursor: pointer;
    z-index: 999;
  
  }
  .opentabbox{
    background-color: white;
    width: 50px;
    position: fixed;
    right: 20px;
    top: 10px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 30px;
    z-index: 99;
    padding: 5px;
    cursor: pointer;
  }
  .verticalNav{
    position: fixed;
    top: 35%;
    z-index: 999;
  }
.hero1{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 650px;
  background-image: url('../../assets/img/banner/output-onlinepngtools.png');
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 140px 0 100px 0;
}


.mainSection{
    height:650px;
    overflow-y: scroll;
}

.bgopa{
  background: #030b22 url(../../assets/img/banner/Digital-Transformation.jpg)  no-repeat scroll -20px 65px;
  height: 100vh;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	color: #fff;
  padding-top: 25px;
  background-position: -750px 0px;;
}

.bgopb{
  background: #0f9ffa url(../../assets/img/banner/digital-operating-models-lead.png)  no-repeat scroll -20px 65px;
  height: 100vh;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	color: #fff;
  padding-top: 25px;
  background-position: -750px 0px;
}
.bgopc{
  background: #0e1822 url(../../assets/img/banner/performance-management.jpg)  no-repeat scroll -20px 65px;
  height: 100vh;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	color: #fff;
  padding-top: 25px;
  background-position: -750px 0px;
}
.bgopd{
  background: #fff url(../../assets/img/banner/pattern-bg.png)  no-repeat scroll -20px 65px;
  height: 100vh;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	color: #fff;
  background-position: center center;
  padding: 35px;
  padding-top: 50px;
  text-align: left;
}
.bgopd a{
  color: #3F3F3F;
  font-weight: 900;
  font-size: 23px;
  text-decoration: none;
  font-family: myriad-pro, Arial;

}

.headerOption1{
  visibility: visible;
  display: block;

}



@media only screen and (max-width: 768px)  { 
  
  .headerOption1{
    visibility: hidden;
    display: none ;

  }
}

.img-bot{
  height: 40px;
  width: 60px;
  float: left;
  margin-right: 10px;
}
.btn-shutter-more {
	color: #fff;
	border: 1px solid #fff;
	position: relative;
	z-index: 1;
	display: inline-block;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 12px 50px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	letter-spacing: 1.5px;
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
}
.btn-shutter-more:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000;
	z-index: -1;
}
.btn-shutter-more:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #ffffff;
}
.btn-shutter-more:hover:before {
	width: 100%;
}

.contact{
  padding: 30px;
}
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


.contact .php-email-form button[type="submit"]:hover {
  background: #6aa3d5;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


